@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Crudsito Salvaje</h1>
    <p class="lead">Un proyecto de ejemplo de CRUD (Create, Read, Update, Delete) en ASP.NET Core MVC.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button type="button" class="btn btn-success" onclick="location.href='@Url.Page("/VistaAgregar")'">Agregar</button>


</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tipo de Documento</th>
            <th scope="col">Número de Documento</th>
            <th scope="col">Dirección</th>
            <th scope="col">Opción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Pasaporte</td>
            <td>12345678</td>
            <td>Avenida Siempre Viva, 742</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Identificación Nacional</td>
            <td>87654321</td>
            <td>Calle Falsa, 123</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>The Bird</td>
            <td>Licencia de Conducir</td>
            <td>11223344</td>
            <td>Camino Real, 45</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Lisa</td>
            <td>Simpson</td>
            <td>Pasaporte</td>
            <td>55667788</td>
            <td>Blvd. Springfield, 24</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Homer</td>
            <td>Simpson</td>
            <td>Identificación Nacional</td>
            <td>99887766</td>
            <td>Av. del Bosque, 100</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <!-- Nuevos registros -->
        <tr>
            <th scope="row">6</th>
            <td>George</td>
            <td>Costanza</td>
            <td>Licencia de Conducir</td>
            <td>33445566</td>
            <td>Calle 42, 6B</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Elaine</td>
            <td>Benes</td>
            <td>Pasaporte</td>
            <td>44556677</td>
            <td>Rua do Alecrim, 15</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Cosmo</td>
            <td>Kramer</td>
            <td>Identificación Nacional</td>
            <td>55667788</td>
            <td>Vía Láctea, 99</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Jerry</td>
            <td>Seinfeld</td>
            <td>Licencia de Conducir</td>
            <td>66778899</td>
            <td>Avenida de la Libertad, 321</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Newman</td>
            <td>Mailer</td>
            <td>Pasaporte</td>
            <td>77889900</td>
            <td>Calle del Correo, 8</td>
            <td><button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
